<% require 'sinatra' %>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>GTFO</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link href='<%= url 'favicon.ico'%>' rel='shortcut icon' type='image/x-icon' />
  <link href='<%= url 'index.css' %>' rel='stylesheet' type='text/css'/>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <strong>GTFO</strong>
  <footer />
</body>
</html>
